 <div id=<%=response.current_advertisement._id%> class="col-md-10 col-md-offset-1">
          <div class="panel panel-info">
              <div id=<%=i%> class="panel-heading" style="padding: 5px; min-height: 50px;">
                <div id=<%=response.current_advertisement._id%> class="ad_options pull-right" style="margin-top:  3px; margin-right:8px;">
                  <a id="detailPopUpButton" class="btn btn-primary" data-toggle="modal" 
                    data-target="#detailPopUp<%=response.current_advertisement._id%>" style="margin-right:8px;">Details</a>
                  <a id="deletePopUpButton" class="btn btn-danger" data-toggle="modal" 
                    data-target="#deletePopUp">Delete Ad</a>      
                </div>
                  <h4>
                  <strong>
                  <%=response.current_advertisement.name%> 
                  </strong> 
                  </h4>
              </div>
              <div class="panel-body" style="padding: 3px 15px 3px;">
                <%response.advertisement=response.current_advertisement%>
                <%include advertisement_pings%>
              </div>
              <div class="panel-footer" align="center" style="padding: 5px;">
                <h4>
                  <strong>
                  </strong>
                </h4>
              </div>
              
          </div>
        </div>
<%include detail_popup%>