 
          <div class="panel panel-info">
            <div class="panel-heading" align="center">
              <h1 class="panel-title">
              <strong>
              Advertisement Details
              </strong>
              </h1>
            </div>
            <div class="panel-body">
              <div class="row">                
                <div class="col-md-12"> 
                  <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>Published in:</td>
                        <td><%=response.advertisement.category%></td>
                      </tr>
                      
                      <%if(response.advertisement.category==='Book'){%>
                      <tr>
                        <td>Title:</td>
                        <td><%=response.product.title%></td>
                      </tr>
                      <tr>
                        <td>Author:</td>
                        <td><%=response.product.author%></td>
                      </tr>
                      <tr>
                        <td>Semester:</td>
                        <td>
                          <%if(response.product.semester===0){%>
                          None
                          <%} else%>
                          <%if(response.product.semester!==0){%>
                          <%=response.product.semester%>th<br>
                          <%}%>
                        </td>
                      </tr>
                      <%}%>
                      <%if(response.advertisement.category!=='Book'){%>
                      <tr>
                        <td>Name:</td>
                        <td><%=response.product.name%></td>
                      </tr>
                      <tr>
                        <td>Sub Category:</td>
                        <td><%=response.product.sub_category%></td>
                      </tr>
                      <tr>
                        <td>Brand:</td>
                        <td><%=response.product.brand%></td>
                      </tr>
                      <%}%>

                      <tr>
                        <td>Availaible for:</td>
                        <td><%=response.advertisement.kind%></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Availaible for Bid:</td>
                        <td><%=response.advertisement.bid%>
                        </td>
                      </tr>
                        <tr>
                        <td>Price:</td>
                        <td>
                          <%if(response.advertisement.price===0){%>
                          None
                          <%} else%>
                          <%if(response.advertisement.price!==0){%>
                          Rs. <%=response.advertisement.price%><br>
                          <%}%>
                        </td>        
                      </tr>
                      <tr>
                        <td>Location of Product:</td>
                        <td><%=response.advertisement.location%>
                        </td>
                      </tr>
                      <tr>
                        <td>Description:</td>
                        <td><%=response.advertisement.description%>
                        </td>
                      </tr>
                      <tr>
                        <td>Published at:</td>
                        <td><%=response.advertisement.createdAt%>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <hr style="margin-bottom: 5px;">
                  <div class="col-md-7">
                  <label for="input-3" class="control-label">
                  <span class="text-info">
                  Product Rating:
                  </span>
                  <span class="text-muted">
                  <small>
                    (By <%=response.rating_user_count%> users)
                    </small>
                  </span>
                  </label>
                  <input id="input-3" class="rating-loading" value='<%=response.avg_rating%>' data-size="xs">
                  <script>
                  $(document).on('ready', function(){
                      $('#input-3').rating({displayOnly: true, step: 0.5});
                      
                  });
                  </script>
                  </div>
                  <div class="col-md-5">
                  <span class="pull-right" style="margin-right: 10px; margin-top: px;">
                  <span class="text-success">
                  <strong>
                  Published By:
                  </strong>
                  </span><br>
                  <a href=<%='/user?id='+response.advertisement.user_id%>>
                  <span class="text-warning">
                  <%=response.advertisement.user_name%>
                  </span>

                  </a><br>
                  <span class="text-muted">
                    User type:
                    <%=response.advertisement.user_type%>
                  </span>
                  </span>
                  </div>
                  <br><br><br>
                  <hr style="margin-bottom: 5px;">
                  <%if(!response.self) {%>
                  <div class="col-md-6 col-md-offset-3" align="center" >
                    <form action='/api/user/ping' method="POST">
                    <input type="hidden" name="ad_id" value=<%=response.advertisement._id%> />
                    <button type="submit" id="pingButton" class="btn btn-primary btn-block">Ping the Publisher</button>
                    
                    </form>
                  </div>
                  <br><br>
                  <hr style="margin-top: 2px; margin-bottom: 5px;">
                  <%}%>
                </div>
              </div>            
            </div>
            <div class="panel-footer" align="justify">
                  <span class="text-muted"><small>
                    Note: 
                    <%if(!response.self&&response.ping_status==='unavailable') {%>
                      This option unavailable because you have already pinged the publisher.
                    <%} else%>
                    <%if(response.self) {%>
                      Ping option unavailable for your own Ads. Please check <a href="/user/advertisements">Your Ads</a> section to see requests for your ads.
                    <%} else%>
                    <%if(!response.self&&response.ping_status!=='unavailable'){%>
                     A request to publisher will be sent. You will be notified if the publisher wants to sell or loan to you.
                    <%}%>
                    
                  </small></span>
              </div>
        </div>