 
          <div class="panel panel-info">
            <div class="panel-heading" align="center">
              <h1 class="panel-title">
              <strong>
              Advertisement Details
              </strong>
              </h1>
            </div>
            <div class="panel-body">
              <div class="row">                
                <div class="col-md-12"> 
                  <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>Published in:</td>
                        <td><%=response.advertisement.category%></td>
                      </tr>
                      
                      <%if(response.advertisement.category==='Book'){%>
                      <tr>
                        <td>Title:</td>
                        <td><%=response.product.title%></td>
                      </tr>
                      <tr>
                        <td>Author:</td>
                        <td><%=response.product.author%></td>
                      </tr>
                      <tr>
                        <td>Semester:</td>
                        <td>
                          <%if(response.product.semester===0){%>
                          None
                          <%} else%>
                          <%if(response.product.semester!==0){%>
                          <%=response.product.semester%>th<br>
                          <%}%>
                        </td>
                      </tr>
                      <%}%>
                      <%if(response.advertisement.category!=='Book'){%>
                      <tr>
                        <td>Name:</td>
                        <td><%=response.product.name%></td>
                      </tr>
                      <tr>
                        <td>Sub Category:</td>
                        <td><%=response.product.sub_category%></td>
                      </tr>
                      <tr>
                        <td>Brand:</td>
                        <td><%=response.product.brand%></td>
                      </tr>
                      <%}%>

                      <tr>
                        <td>Availaible for:</td>
                        <td><%=response.advertisement.kind%></a>
                        </td>
                      </tr>
                      <tr>
                        <td>Availaible for Bid:</td>
                        <td><%=response.advertisement.bid%>
                        </td>
                      </tr>
                        <tr>
                        <td>Price:</td>
                        <td>
                          <%if(response.advertisement.price===0){%>
                          None
                          <%} else%>
                          <%if(response.advertisement.price!==0){%>
                          Rs. <%=response.advertisement.price%><br>
                          <%}%>
                        </td>        
                      </tr>
                      <tr>
                        <td>Location of Product:</td>
                        <td><%=response.advertisement.location%>
                        </td>
                      </tr>
                      <tr>
                        <td>Description:</td>
                        <td><%=response.advertisement.description%>
                        </td>
                      </tr>
                      <tr>
                        <td>Published at:</td>
                        <td><%=response.advertisement.createdAt%>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <hr style="margin-bottom: 5px;">
                  <div class="col-md-7">
                  <label for="input-3" class="control-label">
                  <span class="text-info">
                  Product Rating:
                  </span>
                  <span class="text-muted">
                  <small>
                    (By <%=response.rating_user_count%> users)
                    </small>
                  </span>
                  </label>
                  <input id="input-3" class="rating-loading" value='<%=response.avg_rating%>' data-size="xs">
                  <script>
                  $(document).on('ready', function(){
                      $('#input-3').rating({displayOnly: true, step: 0.5});
                      
                  });
                  </script>
                  </div>
                  <div class="col-md-5">
                  <span class="pull-right" style="margin-right: 10px; margin-top: px;">
                  <span class="text-success">
                  <strong>
                  Published By:
                  </strong>
                  </span><br>
                  <a href=<%='/user?id='+response.advertisement.user_id%>>
                  <span class="text-warning">
                  <%=response.advertisement.user_name%>
                  </span>

                  </a><br>
                  <span class="text-muted">
                    User type:
                    <%=response.advertisement.user_type%>
                  </span>
                  </span>
                  </div>                  
                </div>
              </div>            
            </div>
            <div class="panel-footer">
                  <span class="text-muted"><small>
                    Note: This advertisement is closed. The seller confirmed the request made by <a href='/user?id=<%=response.advertisement.to_user_id%>'>
                    <%=response.advertisement.to_user_name%></a> to <%=response.advertisement.kind%> this product for above price.                    
                  </small></span>
              </div>
        </div>