<div class="comment_item">
    <span class="text-muted pull-right">
    <small class="text-muted">
    <%=response.comment.user_type%>
    </small>
    </span>
    <a href=<%='/api/view/user?id='+response.comment.user_id%>>
    <strong class="text-info">
    <%=response.comment.user_name%>
    </strong>
    </a>
    <p>
    <%=response.comment.comment%> 
    <br>
    <span class="text-muted">
    <strong>
    Posted at: 
    </strong>
    <%=response.comment.createdAt.toString().split('GMT')[0]%>
    </span>
    </p>
    <hr>
    </div>