<div id="detailPopUp<%=response.current_advertisement._id%>" class="modal fade" role="dialog" >
  <div class="modal-dialog " style="margin-top: 100px;">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header" align="center">
        <h4 class="modal-title">
        <span class="text-primary">
        <strong>
        Advertisement Details
        </strong>
        </span>
        </h4>
      </div>
      <div class="modal-body">
        <p>
        <span class="text-warning" align="center">
        <strong>Info:</strong>
         You can edit only few details.
         </span>
         </p>
         <div class="well text-info">
                  <% if(response.current_advertisement.category==='Book'){%>
                  <strong>
                  Title of Book:
                  </strong>
                  <%=response.current_advertisement.product.title%><br>
                  <strong>
                  Author of Book:
                  </strong>
                  <%=response.current_advertisement.product.author%><br>
                  <strong>
                  Semester :
                  </strong>
                  <%=response.current_advertisement.product.semester%>th<br>
                  
                  <%}%>
                  <% if(response.current_advertisement.category!=='Book'){%>
                  <strong>
                  Name:
                  </strong>
                  <%=response.current_advertisement.product.name%><br>
                  <strong>
                  Sub-Category:
                  </strong>
                  <%=response.current_advertisement.product.sub_category%><br>
                  <strong>
                  Brand:
                  </strong>
                  <%=response.current_advertisement.product.brand%><br>
                  <%}%>


                  <strong>
                  Available for:
                  </strong>
                  <%=response.current_advertisement.kind%><br>
                  <strong>
                  Available for Bid:
                  </strong>
                  <%=response.current_advertisement.bid%><br>
                  <strong>
                  Price:
                  </strong>
                  Rs. <%=response.current_advertisement.price%><br>
                  <strong>
                  Location of Product:
                  </strong>
                  <%=response.current_advertisement.location%><br>
                  <strong>
                  Description:<br>
                  </strong>
                  <%=response.current_advertisement.description%><br>
                  <span class="text-muted">
                  Published at:
                    <%=response.current_advertisement.createdAt%>
                  </span>
                </div>
      </div>
      <p align="center">
        <span class="text-default" align="center">
         To see comments,bids on the ad <a class="text-primary" href='/advertisement?id=<%=response.current_advertisement._id%>'>Go to Ads Page.</a>
         </span>
         </p>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary pull-right"  data-dismiss="modal">Close</button>
        <form id="adEditForm" class="pull-right" action="/advertisement/edit" method="GET" >
        <input type="hidden" name="ad_id" value="<%=response.current_advertisement._id%>" />
        <button type="submit" class="btn btn-success pull-right" style="margin-right:8px;">Edit Details</button>
        </form>
        
        
      </div>
    </div>

  </div>
</div>