<div class="col-md-5">  
    <div class="panel panel-info">
                  <div class="panel-heading" align="center">
                    <h1 class="panel-title">
                    <strong>
                    User Details
                    </strong>
                    </h1>
                  </div>
                  <div class="panel-body">
                    <div class="row">                
                      <div class="col-md-12"> 
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td>Name:</td>
                              <td><%=response.account.name%></td>
                            </tr>
                            <tr>
                              <td>Type:</td>
                              <td><%=response.account.type%></td>
                            </tr>
                            <%if(response.account.type==='Student'){%>
                            
                            <tr>
                              <td>Department:</td>
                              <td><%=response.user.department%></td>
                            </tr>
                            <tr>
                              <td>Degree:</td>
                              <td><%=response.user.degree%></td>
                            </tr>
                            <%}%>
                            <%if(response.account.type==='Teacher'){%>
                            <tr>
                              <td>Department:</td>
                              <td><%=response.user.department%></td>
                            </tr>
                            <tr>
                              <td>Designation:</td>
                              <td><%=response.user.designation%></td>
                            </tr>
                            
                            <%}%>
                            <tr>
                              <td>Email:</td>
                              <td><a href="mailto:<%=response.user.email%>"><%=response.user.email%></a>
                              </td>
                            </tr>
                              <td>Phone Number:</td>
                              <td><%=response.user.contact%>
                              </td>
                            </tr>
                              <tr>
                              <td>Subscribers:</td>
                              <td><%=response.subscriber_count%>
                              </td>        
                            </tr>
                          </tbody>
                        </table>
                         <hr style="margin-bottom: 5px;">
                        <div align="center">
                        <%if(!response.self) {%>
                        <a id="messagePopUpButton" class=" btn btn-primary" data-toggle="modal" 
                          data-target="#messagePopUp<%=response.account._id%>" style="margin-right:8px;">
                          Drop a Message
                          </a>
                          <%if(response.subscription_status==='no'){%>
                          <a id="subscribePopUpButton" class="btn btn-success" data-toggle="modal" 
                          data-target="#subscribePopUp" style="margin-right:8px;">
                          Subscribe
                          </a>
                          <%}%>
                          <%if(response.subscription_status==='yes'){%>
                          <a id="unsubscribePopUpButton" class="btn btn-danger " data-toggle="modal" 
                          data-target="#unsubscribePopUp" style="margin-right:8px;">
                          Unsubscribe
                          </a>
                          <%}%>

                        <%}%>
                        <%if(response.self) {%>
                        <div class="col-md-6 col-md-offset-3" align="center" >
                          <a id="settingsButton" class="btn btn-primary btn-block" href="/settings">Account Settings</a>
                        </div>
                        <%}%>

                        </div>
                      </div>
                    </div>
                  </div>

                 <div class="panel-footer">
                    <%if(response.self) {%>
                    <span class="text-muted" >
                    <small>
                      Note: This is what other user see when they view your profile.
                    </small></span>
                    <%}%>
                    <%if(!response.self) {%>
                    <span class="text-muted ">
                    <small>
                      Note: You can view the messages sent to user in 
                    <a href="/messages">
                    Messages
                    </a>
                    </small></span>
                    <%}%>

                  </div>
            
    </div>
</div>

<%include message_popup%>
<%if(response.subscription_status==='no'){%>
<%include subscribe_popup%>
<%}%>
<%if(response.subscription_status==='yes'){%>
<%include unsubscribe_profile_popup%>
<%}%>