
<div class="col-md-5">
<div class="panel panel-info"  style="height: 100%;">
              <div class="panel-heading" align="center">
                <h1>
                <strong class="text-info">
                User Details
                </strong>
                </h1>
              </div>
              <div class="panel-body" style="padding: 10px;">
                <div align="center">
                  <h5>
                  <span class="text-info">
                  <strong>
                  User Type:
                  </strong>
                  </span>
                  <span class="text-success">
                  <%=response.account.type%>
                  </span>
                  </h5>
                </div>
              
                <div class="well text-info">
                  <% if(response.account.type==='Student'){%>
	                  <strong>
	                  Name:
	                  </strong>
	                  <%=response.user.firstname+' '+response.user.lastname%><br>
	                  <strong>
	                  Department :
	                  </strong>
                  	  <%=response.user.department%><br>
					  <strong>
	                  Degree Type :
	                  </strong>
                  	  <%=response.user.degree%><br>
                  	  <strong>
	                  Email :
	                  </strong>
                  	  <%=response.user.email%><br>
                  	  <strong>
	                  Contact:
	                  </strong>
                  	  <%=response.user.contact%><br>
                  <%}%>

                  <% if(response.account.type==='Teacher'){%>
	                  <strong>
	                  Name:
	                  </strong>
	                  <%=response.user.firstname+' '+response.user.lastname%><br>
	                  <strong>
	                  Department :
	                  </strong>
                  	  <%=response.user.department%><br>
					  <strong>
	                  Designation :
	                  </strong>
                  	  <%=response.user.degree%><br>
                  	  <strong>
	                  Email :
	                  </strong>
                  	  <%=response.user.email%><br>
                  	  <strong>
	                  Contact:
	                  </strong>
                  	  <%=response.user.contact%><br>
                  <%}%>

                  <% if(response.account.type==='Other'){%>
	                  <strong>
	                  Name:
	                  </strong>
	                  <%=response.user.firstname+' '+response.user.lastname%><br>
	                  <strong>
	                  Email :
	                  </strong>
                  	  <%=response.user.email%><br>
                  	  <strong>
	                  Contact:
	                  </strong>
                  	  <%=response.user.contact%><br>
                  <%}%>

                </div>
                <hr>   
                  
                  <%if(!response.self) {%>
                  <div class="col-md-10 col-md-offset-1" >
                    <a id="messagePopUpButton" class="col-md-5 btn btn-primary" data-toggle="modal" 
                    data-target="#messagePopUp<%=response.account._id%>" style="margin-right:8px;">
                    Drop a Message
                    </a>
                    <%if(response.subscription_status==='no'){%>
                    <a id="subscribePopUpButton" class="col-md-5 btn btn-success pull-right" data-toggle="modal" 
                    data-target="#subscribePopUp" style="margin-right:8px;">
                    Subscribe
                    </a>
                    <%}%>
                    <%if(response.subscription_status==='yes'){%>
                    <a id="unsubscribePopUpButton" class="col-md-5 btn btn-success pull-right" data-toggle="modal" 
                    data-target="#unsubscribePopUp" style="margin-right:8px;">
                    Unsubscribe
                    </a>
                    <%}%>
                  </div>
                    <br>
                  <br>
                  <span class="text-muted"><small>
                  <hr style="margin-top: 5px; margin-bottom: 5px;">
                  
                  Note: You can view the messages sent to user in 
                  <a href="/messages">
                  Messages
                  </a>
                  </small></span>
                  <%}%>
                  <%if(response.self) {%>
                  <div class="col-md-6 col-md-offset-3" align="center" >
                    <a id="editButton" class="btn btn-primary btn-block" href="/user/edit">Edit your Info</a>
                    <hr style="margin-top: 5px; margin-bottom: 5px;">
                  </div>
                  <span class="text-muted pull-left"><small>
                  Note: This is what other user see when they view your profile.
                  </a>
                  </small></span>
                  <%}%>
               </div>

</div>

<%include message_popup%>
<%if(response.subscription_status==='no'){%>
<%include subscribe_popup%>
<%}%>
<%if(response.subscription_status==='yes'){%>
<%include unsubscribe_profile_popup%>
<%}%>