<!-- one wish item -->
<div class="wish_item">
  <span class="text-muted pull-right">
    <small class="text-muted">
    <%=response.wish.category%>
    </small>
  </span>
  <strong class="text-success">
   <%=response.wish.title%>
  </strong>
  <p>
  <%=response.wish.description%> 
  <br>
<hr style="padding:0px; margin-top: 1px; margin-bottom: 1px;">
  <a  class="text-success" href='/api/view/wish?id=<%=response.wish._id%>' style="align: center">
   See Recommendations 
   </a>
   <br>
  <span class="pull-right">
  <strong class="text-muted">
  Posted by:
  </strong>
  <a href="/api/view/user?id=<%=response.wish.user_id%>" style="align: center"><%=response.wish.user_name%> </a>
  </span>
  </p>
  <hr>
</div>